<div class="row">
  <div class="col-md-12">
    <p>
      <h4>Languages</h4>
      <ul>
        <li>Go</li>
        <li>Javascript</li>
      </ul>
    </p>
    <p>
      <h4>Acknowledgements</h4>
      The Food Plan Organizer uses the following open source projects:
      <ul>
        <li>
          <a href="https://github.com/atom/atom-shell">Atom-Shell</a>
        </li>
        <li>
          <a href="https://godoc.org/golang.org/x/text/encoding">golang.org/x/text/encoding</a>
        </li>
        <li>
          <a href="https://godoc.org/golang.org/x/text/transform">golang.org/x/text/transform</a>
        </li>
        <li>
          <a href="https://github.com/mattn/go-sqlite3">github.com/mattn/go-sqlite3</a>
        </li>
        <li>
          <a href="https://github.com/rubenv/sql-migrate">github.com/rubenv/sql-migrate</a>
        </li>
        <li>
          <a href="https://angularjs.org/">angularjs</a>
        </li>
        <li>
          <a href="http://getbootstrap.com/">bootstrap</a>
        </li>
      </ul>
    </p>
  </div>
</div>