<form class="form-horizontal" role="form" ng-submit="submit()">
  <div class="form-group">
    <label for="inputRecipeName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputRecipeName" placeholder="recipe name" ng-model="recipe.name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      TODO ingredients
    </div>
  </div>
  <div class="form-group">
    <label for="inputRecipeDescription" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputRecipeDescription" placeholder="recipe preparations, steps" ng-model="recipe.description" rows="5"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
      or
      <a ng-href="#/recipes">Cancel</a>
    </div>
  </div>
</form>