<form class="form-horizontal" role="form" ng-submit="submit()">
  <div class="form-group">
    <label for="inputRecipeName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputRecipeName" placeholder="recipe name" ng-model="recipe.name">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Ingredients</label>
    <div class="col-sm-10">
      <div>
        <angucomplete
            placeholder="Search Ingredient"
            pause="250"
            selectedobject="selectedIngredient"
            url="http://localhost:8080/search/food/?q="
            titlefield="name"
            inputclass="form-control" />
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ingredient in recipe.ingredients">
            <td ng-bind="ingredient.name"></td>
            <td>
              <select ng-model="ingredient.unit">
                <option value="g">gram</option>
                <option value="cup">cup (292g)</option>
                <option value="tbsp">tbsp (18g)</option>
                <option value="tsp">tsp (6g)</option>
                <option value="ml">ml</option>
              </select>
            </td>
            <td>
              <input type="text" ng-model="ingredient.volume" float/>
            </td>
            <td>
              <a class="btn btn-danger btn-xs" ng-click="deleteIngredient(ingredient)"><span class="glyphicon glyphicon-remove"></span></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-group">
    <label for="inputRecipeDescription" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputRecipeDescription" placeholder="recipe preparations, steps" ng-model="recipe.description" rows="5"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Nutrition</label>
    <div class="col-sm-10">
      <table class="table">
        <tr><th colspan="3">Proximates</th></tr>
        <tr ng-repeat="nutrient in nutrientsById([255, 208, 203, 204, 205, 291, 269])">
          <td ng-bind="nutrient.description"></td>
          <td ng-bind="nutrient.unit"></td>
          <td><span ng-bind="totalNutrients(recipe, nutrients, nutrient.id)|number:3"></span></td>
        </tr>
        <tr><th colspan="3">Minerals</th></tr>
        <tr ng-repeat="nutrient in nutrientsById([301,303,304,305,306,307,309])">
          <td ng-bind="nutrient.description"></td>
          <td ng-bind="nutrient.unit"></td>
          <td><span ng-bind="totalNutrients(recipe, nutrients, nutrient.id)|number:3"></span></td>
        </tr>
        <tr><th colspan="3">Vitamins</th></tr>
        <tr ng-repeat="nutrient in nutrientsById([401, 404, 405, 406, 415, 435, 418, 320, 318, 323, 328, 324, 430])">
          <td ng-bind="nutrient.description"></td>
          <td ng-bind="nutrient.unit"></td>
          <td><span ng-bind="totalNutrients(recipe, nutrients, nutrient.id)|number:3"></span></td>
        </tr>
        <tr><th colspan="3">Lipids</th></tr>
        <tr ng-repeat="nutrient in nutrientsById([606, 645, 646, 601])">
          <td ng-bind="nutrient.description"></td>
          <td ng-bind="nutrient.unit"></td>
          <td><span ng-bind="totalNutrients(recipe, nutrients, nutrient.id)|number:3"></span></td>
        </tr>
        <tr><th colspan="3">Other</th></tr>
        <tr><td>Caffeine </td><td>g</td><td><span ng-bind="totalNutrients(recipe, nutrients, 262)|number:3"></span></td></tr>
      </table>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
      or
      <a ng-href="#/recipes">Cancel</a>
    </div>
  </div>
</form>