<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="recipe in recipes">
      <td ng-bind="recipe.name"></td>
      <td ng-bind="truncate(recipe.description, 140)"></td>
      <td class="show-on-hover">
        <a class="btn btn-default btn-xs" ng-href="#/recipes/{{::recipe.id}}/edit"><span class="glyphicon glyphicon-edit"></span></a>
        <a class="btn btn-danger btn-xs" ng-click="deleteRecipe(recipe.id)"><span class="glyphicon glyphicon-remove"></span></a>
      </td>
    </tr>
  </tbody>
</table>